*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
 }
 body{
    background-color: #0f88b8;
    display: grid;
    height: 100vh;
    place-items: center;
 }
 .main{
    width: 400px;
    height: 450px;
    background-color: rgb(36, 82, 51);
    position: absolute;
    border: 5px solid rgb(141, 71, 13);
    border-radius: 6px; 
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid rgb(119, 11, 96);
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: rgb(69, 122, 26);
 }
 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #4f6d49;
    border-radius: 6px;
    color: rgb(177, 22, 22);
 }
 .btn input[type='button']:hover{
    background-color: rgb(7, 56, 14);
    color: rgb(70, 21, 21);
 }